[Unit]
Description = GlassFish Server v4.1
After = syslog.target network.target

[Service]
Type = forking
User={{ dataverse.glassfish.user }}
ExecStart = /usr/bin/java -jar {{ glassfish_dir }}/glassfish/lib/client/appserver-cli.jar start-domain {{ dataverse.glassfish.domain }}
ExecStop = /usr/bin/java -jar {{ glassfish_dir }}/glassfish/lib/client/appserver-cli.jar stop-domain {{ dataverse.glassfish.domain }}
ExecReload = /usr/bin/java -jar {{ glassfish_dir }}/glassfish/lib/client/appserver-cli.jar restart-domain {{ dataverse.glassfish.domain }}
LimitNOFILE=65000
TimeoutStartSec=180s

[Install]
WantedBy = multi-user.target
